---

realm_name: "{{ domain }}"
kdc_port: 88
kdc_conf_path: /etc/krb5kdc/kdc.conf
kadm5_acl_path: /etc/krb5kdc/kadm5.acl

# Passwd policy
maxlife: "3 months"
minlife: "1 months"
minlength: 8
minclasses: 4
history: 12
maxfailure: 15
failurecountinterval: "2 hours"
lockoutduration: "30 minutes"
policy_name: "default"

units:
  - krb5-kdc
  - krb5-admin-server