---

realm_name: "{{ domain }}"
kdc_port: 88
kdc_conf_path: /etc/krb5kdc/kdc.conf
kadm5_acl_path: /etc/krb5kdc/kadm5.acl

ticket_lifetime: 72h
renew_lifetime: 120d

# Passwd policy
maxlife: "3 months"
minlife: "1 months"
minlength: 8
minclasses: 4
history: 12
maxfailure: 15
failurecountinterval: "10 sec"
lockoutduration: "2 hours"
policy_name: "default"

units:
  - krb5-kdc
  - krb5-admin-server

# TEMPORAL SOLUTION ERROR: Failure: GSSAPI Error: Unspecified GSS failure.  Minor code may provide more information (Request ticket server ldap/xxxxxxxx@XXXXXX found in keytab but does not match server principal ldap/xxxxxxxxxx@)
ignore_acceptor_hostname: true
