- name: config_openldap | configuring ldap
  template:
    src: "ldap/ldap.conf.j2"
    dest: "/etc/ldap/ldap.conf"
    owner: root
    group: root
    mode: 0644

- name: Copy schema.olcSudo
  copy:
    src: "{{ role_path }}/files/schema.olcSudo"
    dest: /usr/share/doc/sudo-ldap/schema.olcSudo
    mode: 0755

- name: Add module sudo | configuring sudo
  shell: 'ldapadd -Y EXTERNAL -H ldapi:/// -f /usr/share/doc/sudo-ldap/schema.olcSudo'
  ignore_errors: yes

- name: config_openldap | creating database population config
  template:
    src: "ldap/slapd.d/populate_content.ldif.j2"
    dest: "/etc/ldap/slapd.d/populate_content.ldif"
    owner: root
    group: root
    mode: 0640

- name: Add module sudo | configuring sudo
  shell: 'if [[ $(cat /etc/pam.d/sudo | grep -o "pam_ldap.so") != "pam_ldap.so" ]]; then echo "auth      sufficient    pam_ldap.so" >> /etc/pam.d/sudo ; fi'

- name: config_openldap | setting admin password
  shell: slappasswd -s {{ openldap_admin_password }}
  register: admin_password

- name: config_openldap | restart slapd
  service:
    name: slapd
    enabled: yes
    daemon_reload: yes
    state: restarted
  when: >
    admin_password is defined and
    admin_password

- name: config_openldap | populating openLDAP
  shell: 'ldapadd -x -D {{ openldap_bind_id }} -w {{ openldap_admin_password }} -f /etc/ldap/slapd.d/populate_content.ldif'
  ignore_errors: yes  #set to get around erroring out that items already exist
  when: >
    openldap_populate is defined and
    openldap_populate

- name: Install apt dependencies for slapdconf
  apt: 
    name: "{{ item }}"
    update_cache: yes
  with_items:
   - libnet-ldap-perl
   - libauthen-sasl-perl
   - libuuid-perl
   - perl-doc

- name: Clone tool slapdconf
  git:
    repo: 'https://github.com/Code-Mirror/slapdconf.git'
    dest: /usr/lib/slapdconf

- name: Make ln for slapdconf
  file:
    src: "/usr/lib/slapdconf/{{ item }}"
    dest: "/usr/bin/{{ item }}"
    state: link
  with_items:
    - ldapgenerate
    - ldaptest
    - schema2ldif
    - slapdconf
    - slapdadm

- name: Check install module ldap memberof
  shell: slapdconf list-modules | grep 'memberof'
  register: active_memberof
  ignore_errors: true

- name: Install module ldap memberof
  command: "{{ item }}"
  with_items:
    - slapdconf add-module memberof
    - slapdconf add-overlay {{ openldap_base }} memberof
  when: active_memberof|failed

- name: Check install module ldap refint
  shell: slapdconf list-modules | grep 'refint'
  register: active_refint
  ignore_errors: true

- name: Install module ldap refint
  command: "{{ item }}"
  with_items:
    - slapdconf add-module refint
    - slapdconf add-overlay {{ openldap_base }} refint olcRefintConfig 'olcRefintAttribute:memberof member manager owner'
  when: active_refint|failed
