[sssd]
services = nss, pam, pac, sudo
domains = {{ domain|upper }}
config_file_version = 2

[nss]

[pam]

[pac]

[sudo]

[domain/{{ domain|upper }}]
id_provider = ldap
auth_provider = krb5
chpass_provider = krb5
access_provider = krb5
sudo_provider = ldap

ldap_uri = ldap://ldap.{{ domain }}
ldap_search_base = {{ openldap_base }}

ldap_default_authtok_type = password
ldap_default_bind_dn = {{ openldap_bind_id }}
ldap_default_authtok = {{ openldap_admin_password }}
ldap_sudo_search_base = ou={{ sudoers }},{{ openldap_base }}


# Kerberos
krb5_realm = {{ domain|upper }}
krb5_server = kerberos.{{ domain }}
#krb5_kpasswd = kerberos.{{ domain }}

krb5_store_password_if_offline = true
cache_credentials = true

ldap_pwd_policy = mit_kerberos

# Bonus
fallback_homedir = /home/%u
default_shell = /bin/bash

# Debug
debug_level = 4
